<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>
	   function execFn(){
          var str = "<% name %>你好，你的预约<% <%1bbb %> hsdkhfks已经成功 <% bbb%>";
          var start = "<%",startLen = start.length;
          var end   = "%>",endLen   =  end.length,startIndex = 0,endIndex = 0
          var arr = [];
          for(var i=0,len = str.length;i<len;i++){
          	  var startTemp = str.substr(i,startLen);
          	  var endTemp   = str.substr(i,startLen);
              var flag = false;
              if(startTemp === start){
                 flag = true;
              	 startIndex = i + startLen;
              }
              if(endTemp === end){ 
                  flag = true;
              	  endIndex = i - endLen + 2;
              }
              if((endIndex > startIndex) && flag){
              	  arr.push(str.substring(startIndex,endIndex));
              }
          }
          return arr;
	   }
	   console.log(execFn());
	</script>
</body>
</html>